section {
 width: 500px;
 height: 50%;

 background-color: aquamarine;
 background: center / contain no-repeat url("https://cdnb.artstation.com/p/assets/images/images/051/330/605/large/cateille-chai1.jpg?1657031519");

}