/* Selector for item type */
h1 {
    text-align: center;
    letter-spacing: 10px;
    color: rgb(84, 121, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 100px;
}

/* Select all child elements */
div#inputform * {
    padding: 5px 20px;
}

/* Change the display behaviour of span */
#SpecialSpan {
    display: inline-block;
    border: 2px solid black;
}


#one {
    width: 200px;
    height: 300px;
    background-color: beige;
    border-width: 5px;
    border-color: brown;
    border-style: solid;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

#two {
    width: 200px;
    height: 300px;
    background-color: rgb(247, 237, 218);
    border-width: 5px;
    border-left-width: 10px;
    border-top-width: 10px;
    border-color: rgb(168, 76, 48);
    border-bottom-color: bisque;
    border-right-color: bisque;

    border-style: inset;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

#three {
    width: 200px;
    height: 300px;
    background-color: azure;
    margin: 5px;
    padding: 5px;
    border: 10px solid aquamarine;
    border-radius: 30px;
    box-sizing: border-box;
    text-align: center;
}

/* Selector for specific ID */
/* IDs must be unique for each element*/
#SpecialHeading {
    color: rgb(112, 136, 158);
}

/* Selector for defined class added to elements */
/* Multiple elements can share the same class */
.tHRow {
    color: blueviolet;
}

/* Selector for specific element type */
input[type="password"] {
    background-color: aquamarine;
}

tbody tr:hover {
    background-color: rgb(167, 198, 199);
}

a {
    margin: 20px;
    display: block;
    border: 2px;
    border-style: solid;
    padding: 2px;
}

section {
    width: 500px;
    height: 200px;
    background-color: bisque;
}

#rgba {
    width: 100px;
    height: 100px;
    background-color: rgb(102, 51, 153, 0.5);
}

#opacityTest {
    width: 100px;
    height: 100px;
    background-color: rgb(55, 201, 145);
    opacity: 0.5;
}

div.posTest {
    width: 100px;
    height: 100px;
    background-color: coral;
    margin: 10px;
    border: 5px;
    border-style: solid;
    display: inline-block;

}

div.posTest#testSquareStatic {
    background-color: aquamarine;
    position: static;
    top: 100px;
}

div.posTest#testSquareRelative {
    background-color: aquamarine;
    position: relative;
    top: 10px;
    left: 10px;
}

div.posTest#testSquareAbsolute {
    background-color: aquamarine;
    position: absolute;
    top: 10px;
    left: 10px;
}

div.posTest#testSquareFixed {
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.Circle {
    width: 100px;
    height: 100px;
    border: 3px;
    border-style: solid;
    background-color: darkgray;
    /* transition: 0.1s; */
}

div.Circle:hover {
    background-color: cadetblue;
    border-radius: 50%;
    transition: 0.1s;

}

div#TransitionTestThing1 {
    position: absolute;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 3px;
    border-style: solid;
    background-color: rgb(25, 136, 130);
    transition: 0.2s;
    transition-timing-function: ease-out;

}

section.hoverThingTest:hover div {
    margin-left: 200px;
}